// Кольори
$bgColor: #fcfcfc;
$accentColor: #fd5103;
$buttonColor: #fe7031;
$textColorBlack: #202025;
$textColorGray: #5f6775;
$textColorWhite: #ffffff;
$texttColorBlackModal: #000917;

// Шрифти
$ffPoppins: 'Poppins';
$ffRoboto: 'Roboto';
$ffMont: 'Montserrat';

// Кубік
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1) 300ms;
