<!-- <section class="favorite-ingridient">
  <div class="container">
    <h2 class="favorite-ingridient__title">Favorite ingridients</h2>
    <ul class="favorite-ingridient__list">
      <li class="favorite-ingridient__item">
        <h3 class="favorite-ingridient__name">Campari</h3>
        <p class="favorite-ingridient__type">Liqueur</p>
        <div class="coctails__btn">
          <button type="button" class="info__btn learn-more-btn">
            Learn more
          </button>
          <button type="button" class="info__btn add-to-btn">
            Add to<svg class="coctails__icon" width="18" height="18">
              <use href="./images/coctails-icon.svg#disactive-heart"></use>
            </svg>
          </button> -->
<!-- <button type="button" class="info__btn remove-btn">
              Remove<svg class="coctails__icon" width="18" height="18">
                <use href="./images/coctails-icon.svg#active-heart"></use>
              </svg>
            </button> -->
<!-- </div>
      </li>
    </ul>
    <p class="alert-message">You haven't added any favorite ingridient yet</p>
  </div>
</section> -->
