<div class="coctails-modal__backdrop is-close">
  <div class="coctails-modal">
    <button class="coctails-close-btn">
      <svg class="modal__icon" width="32" height="32">
        <use href="./images/coctails-icon.svg#icon-clarity_close-line-2"></use>
      </svg>
    </button>
    <h3 class="coctails-modal__title">Negroni</h3>
    <div class="remove-order4">
      <h4 class="coctails-modal__sub-title">Instractions:</h4>
      <p class="coctails-modal__instruction">
        <!-- Add the gin, Campari and sweet vermouth to a mixing glass filled with
        ice, and stir until well-chilled. Strain into a rocks glass filled with
        large ice cubes. Garnish with an orange peel. -->
      </p>
    </div>
    <img
      src="./images/mountain-bramble-mob.jpg"
      class="coctails-modal__img"
      alt="Negroni"
      width="280"
      height="280"
    />
    <div class="remove-order3">
      <h4 class="coctails-modal__ingr">Ingredients</h4>
      <p class="coctails-modal__compound">Per cocktail</p>
      <ul class="coctails-modal__list">
        <li class="coctails-modal__item">Ice</li>
        <li class="coctails-modal__item">Ice</li>
        <li class="coctails-modal__item">Ice</li>
        <li class="coctails-modal__item">Ice</li>
        <li class="coctails-modal__item">Ice</li>
      </ul>
    </div>
    <button type="button" class="add-to-favorite">Add to favorite</button>

    <!-- кнопка видалити із обраних -->
    <!-- <button type="button" class="add-to-favorite remove-from-favorite">Remove from favorite</button> -->
  </div>
</div>
