<div class="ing-modal__backdrop is-ingridient-hidden">
  <div class="ingridient-modal">
    <button class="coctails-close-btn ingridient-close-btn">
      <svg class="modal__icon" width="32" height="32">
        <use href="./images/coctails-icon.svg#icon-clarity_close-line-2"></use>
      </svg>
    </button>
    <h3 class="ingridient-modal__title">Campari</h3>
    <h4 class="ingridient-modal__sub-title">Liqueur</h4>
    <span class="ingridient-modal__line"></span>
    <p class="ingridient-modal__info">
      <span class="ingridient-modal__name">Campari</span> is an Italian
      alcoholic liqueur, considered an apéritif (20.5%, 21%, 24%, 25%, or 28.5%
      ABV, depending on the country in which it is sold), obtained from the
      infusion of herbs and fruit (including chinotto and cascarilla) in alcohol
      and water. It is a bitters, characterised by its dark red colour.
    </p>
    <ul class="ingridient-modal__list">
      <li class="alcohol-content">Type: Bitters</li>
    </ul>
    <div class="ingridient-modal__button">
      <button type="button" class="add-to-favorite">Add to favorite</button>

      <!-- кнопка видалити із обраних -->
      <!-- <button type="button" class="add-to-favorite remove-from-favorite">
      Remove from favorite
    </button> -->
    </div>
  </div>
</div>
